
<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <h4>Heading here</h4>
      <form class="d-flex" role="search">
        <img class="userIcon" src="../../assets/img/user.png"  alt="">
        <button class="btn btn-dark" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <h2 id="tableheading">Service request list</h2>
    <div  > 
  
      <table class=" table table-bordered">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact No</th>
            <th>Contact Preference</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of user">
            
  
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Button to trigger modal for adding service request-->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Service Request
    </button>
   </div>
  